name: CI

on:
  push:
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  ci:
    strategy:
      matrix:
        runner: [ubuntu-latest, macos-latest, macos-15-intel, windows-latest]
      fail-fast: false

    runs-on: ${{matrix.runner}}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24

      - name: Install libdave
        run: |
          NON_INTERACTIVE=1 bash scripts/libdave_install.sh
          source "$HOME/.bashrc"

      - name: Test build
        run: |
          go build
          go build ./libdave
          go build ./golibdave
