name: Update libdave

on:
  workflow_dispatch:
  schedule:
    # Runs at 00:00 UTC every day
    - cron: '0 0 * * *'

permissions:
  contents: write
  pull-requests: write

env:
  #LIBDAVE_REPO: "https://github.com/discord/libdave"
  LIBDAVE_REPO: "https://github.com/MinnDevelopment/libdave"

jobs:
  check-version:
    runs-on: ubuntu-latest
    outputs:
      should_update: ${{ steps.check.outputs.should_update }}
      new_sha: ${{ steps.check.outputs.new_sha }}
    steps:
      - uses: actions/checkout@v4

      - name: Check Remote vs Local SHA
        id: check
        run: |
          # Get the latest commit hash from the remote repository
          REMOTE_SHA=$(git ls-remote https://github.com/discord/libdave HEAD | awk '{ print $1 }')
          echo "Remote SHA: $REMOTE_SHA"
          
          LOCAL_FILE="libdave/lib/sha.txt"
          LOCAL_SHA=""
          
          if [ -f "$LOCAL_FILE" ]; then
            LOCAL_SHA=$(cat "$LOCAL_FILE" | tr -d '[:space:]')
            echo "Local SHA: $LOCAL_SHA"
          else
            echo "Local SHA file not found."
          fi
          
          if [ "$REMOTE_SHA" != "$LOCAL_SHA" ]; then
            echo "Mismatch detected. Triggering build."
            echo "should_update=true" >> "$GITHUB_OUTPUT"
            echo "new_sha=$REMOTE_SHA" >> "$GITHUB_OUTPUT"
          else
            echo "Hashes match. No update needed."
            echo "should_update=false" >> "$GITHUB_OUTPUT"
          fi

  build-artifacts:
    needs: check-version
    if: needs.check-version.outputs.should_update == 'true'
    strategy:
      fail-fast: false
      matrix:
        include:
          # Linux
          - os: ubuntu-latest
            arch: x86
            platform: linux
            install_cmd: sudo apt-get update && sudo apt-get install -y gcc-multilib g++-multilib
            extra_flags: "-m32"
          - os: ubuntu-latest
            arch: x86-64
            platform: linux
          - os: ubuntu-24.04-arm
            arch: aarch64
            platform: linux

          # MacOS
          - os: macos-15-intel
            arch: x86-64
            platform: darwin
          - os: macos-latest
            arch: aarch64
            platform: darwin

          # Windows
          - os: windows-latest
            arch: x86
            platform: windows
            extra_flags: "-m32"
          - os: windows-latest
            arch: amd64
            platform: windows
          - os: windows-11-arm
            arch: aarch64
            platform: linux

    runs-on: ${{ matrix.os }}
    env:
      CFLAGS: "-O2 ${{ matrix.extra_flags }}"
      CXXFLAGS: "-O2 ${{ matrix.extra_flags }}"
    defaults:
      run:
        shell: bash

    steps:
      - name: Install Dependencies
        if: matrix.install_cmd != ''
        run: ${{ matrix.install_cmd }}

      - name: Setup libdave repo
        run: |
          git clone "$LIBDAVE_REPO" libdave
          cd libdave/cpp

          git submodule update --init --recursive

          ./vcpkg/bootstrap-vcpkg.sh -disableMetrics

      - name: Build libdave
        working-directory: libdave/cpp
        run: |
          make shared

      - name: Rename and Prepare Artifact
        working-directory: libdave/cpp
        run: |
          mkdir -p staging
          
          case "${{ matrix.platform }}" in
            linux)
              EXTENSION="so"
              ;;
            windows)
              EXTENSION="dll"
              ;;
            darwin)
              EXTENSION="dylib"
              ;;
            *)
              echo "Unknown architecture"
              exit 1
            ;;
          esac

          cp "build/libdave.$EXTENSION" "staging/libdave_${{ matrix.arch }}.$EXTENSION"

          if [ "${{ matrix.os }}" == "ubuntu-latest" ] && [ "${{ matrix.arch }}" == "amd64" ]; then
             cp includes/dave.h staging/dave.h
          fi

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: artifact-${{ matrix.platform }}-${{ matrix.arch }}
          path: libdave/cpp/staging/*
          if-no-files-found: error


  create-pr:
    needs: [check-version, build-artifacts]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: downloaded_artifacts

      - name: Organize Files & Generate Hashes
        run: |
          mkdir -p libdave/lib/build/linux
          mkdir -p libdave/lib/build/darwin
          mkdir -p libdave/lib/build/windows
          mkdir -p libdave/cpp/includes

          process_artifacts() {
            platform=$1
            dest_dir="libdave/lib/build/$platform"
          
            # Find and move files for this platform
            find downloaded_artifacts -name "*$platform*" -type f \( -name "*.so" -o -name "*.dylib" -o -name "*.dll" \) -exec cp {} "$dest_dir/" \;
          }

          process_artifacts "linux"
          process_artifacts "darwin"
          process_artifacts "windows"

          find downloaded_artifacts -name "dave.h" -exec cp {} libdave/cpp/includes/ \; -quit

          echo "${{ needs.check_version.outputs.latest_sha }}" > ${{ env.TARGET_SHA_FILE }}

          echo "Generating SHA256 checksums..."
          find libdave/lib/build -type f \( -name "*.so" -o -name "*.dylib" -o -name "*.dll" \) -exec sha256sum {} + > libdave/lib/sha256.txt
          
          rm -rf downloaded_artifacts

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "chore: update libdave to ${{ needs.check-version.outputs.new_sha }}"
          branch: update-libdave-${{ needs.check_version.outputs.latest_sha }}
          delete-branch: true
          title: "chore: update libdave to ${{ needs.check-version.outputs.new_sha }}"
          body: |
            Update libdave prebuilt libraries to use ${{ needs.check-version.outputs.new_sha }}.
